<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project Title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/he/1.2.0/he.js" integrity="sha512-o4gKX6jcK0rdciOZ9X8COYkV9gviTJAbYEVW8aC3OgIRuaKDmcT9/OFXBVzHSSOxiTjsTktqrUvCUrHkQHSn9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <style>
    body{
      background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYFOe8C-LgK_DLSLdmTglDpBTlbG1x1w0WmFGDuB2TFw&usqp=CAU&ec=48665698');
      background-repeat: no-repeat;
      background-size: 100% 100vh;
      background-attachment: fixed;
    }
    #form3{
      width: 75%;
      margin: auto;
      padding: 25px 50px;
      background-color: rgba(0, 0, 0, 0.80);
      margin-top: 50px !important;
      color: white;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" data-value="#form1" onclick="toggleform(event)">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/add">Add user</a></li>
        <li><a href="/Delete">Delete user</a></li>
        <li><a href="/anounce">Display result</a></li>
        <li><a href="/voterlist">User list</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">

  {% if msg %}
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{msg}}</strong> 
                  </div>
                {% endif %}

                
  {% if result %}
    <div id="form3">
      <center><h3>User list</h3></center>
      <br>
      <table class="table">
        <tr>
          <th>useri id</th><th>voter id</th><th>name</th><th>phone</th><th>address</th>
        </tr>
        {% for row in result %}
        <tr>
          {% for col in row %}
          <td>
            {{ col  }}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
  </div>
{% endif %}
</div>
</body>
</html>
